{% extends "layout.html.twig" %}

{% block title %}
    Accueil du jeu KikiCe
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <a href="#">
                    <div class="jouer">
                       <h1>JOUER</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}