{% extends "layout.html.twig" %}

{% block title %}
    Accueil du jeu KikiCe
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-7 col-lg-4 bouton">
                <a href="{{ path('jeux_index') }}">
                    <div class="jouer">
                       <h1>GO FOR IT!</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}